.page {
  &_title, h1.page_title, h2.page_title {
    @include rem(margin-bottom, 17px);

    span {
      display: inline;
      font-weight: 300;
    }
  }

  &_subtitle, h3.page_subtitle {
    text-align: center;
    color: #b2b8bf;
    margin-bottom: 68px;
  }
}

.section {
  padding: 30px 0;
}

.icon--pair_view:before {
  position: relative;
  left: -2px;
}

@media all and (min-width: $screen-landscape + 1) {
  ._border_left {
    border-left: 1px solid $gray-25;
  }

  ._border_right {
    border-right: 1px solid $gray-25;

    + ._border_left {
      margin-left: -1px;
    }
  }
}

.icon_block {
  text-align: center;

  &__img {
    @include rem(height, 64px);
    @include rem(margin-bottom, 30px);

    img {
      max-width: 100%;
    }
  }

  &__title {
    display: block;
  }
}