.nav-tabs {
  padding: 0;
  border-bottom-color: $gray-25;
  margin-right: 0;

  > li {
    position: relative;

    &.pull-right {
      > a {
        border-left: 0 !important;
      }
    }

    .icon {
      color: $gray-light;
      position: relative;
      top: -1px;

      @include rem(font-size, 12px);

      &--menu {
        color: $gray-40;

        @include rem(font-size, 10px);
      }
    }

    > .btn {
      position: absolute;
      z-index: 2;
      top: 50%;

      @include rem(padding, 7px);
      @include rem(right, 3px);
      @include rem(margin-left, 5px);
      @include rem(margin-top, -11px);
      @include rem(line-height, 10px);

      + a:not(.btn) {
        @include rem(padding-right, 34px !important);
      }

      &:hover {
        .icon {
          color: $blue !important;
        }
      }
    }

    > a:not(.btn) {
      border: 0;
      border-bottom: 2px solid transparent;
      color: $gray-40;
      font-weight: $fw-regular;
      text-align: center;

      @include rem(font-size, 16px);
      @include rem(min-width, 40px);
      @include rem(padding, 11px 20px);
      @include transition($transition-all);

      > .icon {
        @include transition(color .3s ease);
      }

      &:hover, &:focus {
        text-decoration: none;
        background: transparent;
        color: $gray;

        > .icon {
          color: $gray;

          &--menu {
            color: $blue;
          }
        }
      }

      .icon {
        + span {
          @include rem(margin-left, 3px)
        }
      }
    }

    &.active {
      > a, > a:hover, > a:focus {
        font-weight: $fw-semi;
        border: 0;
        border-bottom: 2px solid $blue;
        color: $text;
      }
    }
  }

  &--inline {
    border-bottom: 0;

    > li {
      > a:not(.btn) {
        border: 0;
        font-weight: $fw-semi;
        color: $gray;

        @include rem(margin-right, 8px);
        @include border-radius(100px);
        @include rem(min-width, 104px);

        &:hover, &:focus {
          color: $blue;
        }
      }

      &.active {
        > a, > a:hover, > a:focus {
          font-weight: $fw-semi;
          border: 0;
          background: $blue;
          color: $white;
        }
      }
    }
  }

  @media all and (max-width: 539px) {
    width: auto;

    @include rem(margin-right, 0 !important);
  }
}

.tab-panel {
  background: $gray-5;
  border-top: 1px solid $gray-25;
  border-bottom: 1px solid $gray-25;

  .nav-tabs {
    border-bottom: 0;

    > li {
      > a:not(.btn) {
        border: 0;
        border-left: 1px solid $gray-25;
        border-right: 1px solid $gray-25;
        border-radius: 0;
        margin-left: 0;
        margin-right: -1px;
        @include rem(padding, 10px 13px);

        &:hover, &:focus{

        }
      }

      &.active {
        > a, > a:hover, > a:focus {
          box-shadow: inset 0 2px 0 0 $blue;
          background: $white;
          font-weight: normal;
        }
      }
    }
  }
}