$theme-colors: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'muted': $gray-60
);

@mixin color-modifier($properties...) {
  @each $name, $value in $theme-colors {
    &--#{$name} {
      @each $property in $properties {
        #{$property}: #{$value};
      }
    }
  }
}

.text {
  @include color-modifier(color)
}

.text-muted {
  color: $gray-40;
}

.automargin {float: none; margin-right: auto; margin-left: auto;}

.bold {font-weight: $fw-semi}
.semibold {font-weight: $fw-semi}

.t-simulate { display: table; width: 100%; height: 100%;}
.t-row {display: table-row; width: 100%; height: 100%}
.t-cell {display: table-cell; vertical-align: middle}

.nopadding {padding: 0}

%noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

%disable-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}